@model ItStepSDP211.Models.IndexViewModel
@using ItStepSDP211.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <tr>
        <td>Name</td>
    </tr>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>

<br/>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo,x=>Url.Action("Index", new { page = x}))
</div>